h1 {
    font-size: 2rem;
    color: var(--primary-color);
}
p {
    color: var(--text-gray-color);
    margin: 10px 0px;
    max-width: 800px;
}

a {
    color: var(--primary-color);
    text-decoration: underline;
}

ul li {
    color: black;
    font-weight: 500;
    margin: 10px 0px;
}
