.input-filter {
    background-color: white;
    padding: 15px 20px;
    border-radius: 8px;
    border: 1px solid var(--primary-color);
    color: var(--text-gray-color);
    outline: none;
    font-size: 1.2rem;
    flex: 1;
}

.input-filter:nth-child(2) {
    margin: 0px 20px 0px 20px;
}
