.hero {
    display: flex;
    width: 70vw;
    margin: 0 auto;
    justify-content: space-between;
    height: 50vh;
}

.hero .header-text {
    display: flex;

    justify-content: center;
    flex-direction: column;
}

.hero .header-text h1 {
    color: var(--primary-color);
    font-size: var(--font-size-large);
    width: 70%;
}

.hero .header-text .para {
    color: var(--text-gray-color);
    font-size: 1.8rem;
    width: 70%;
    width: 70%;
}

.hero .header-text .para2 {
    font-size: 1.5rem;
    color: var(--text-gray-smooth);
}
.hero .header-text small {
    color: var(--text-gray-smooth);
    font-size: 1rem;
}

.hero .image-area {
    display: flex;
    align-items: center;
}

.hero .image-area img {
    height: 300px;
    -moz-user-select: none;
    user-select: none;
}
