label .input-text {
    background-color: white;
    padding: 15px 20px;
    border-radius: 8px;
    border: 1px solid rgb(209, 209, 209);
    color: rgb(150, 150, 150);
    outline: none;
    font-size: 1.2rem;
    flex: 1;
    width: 100%;
}

label .input-text:not(:placeholder-shown) ~ span {
    top: -13px;
    color: var(--primary-color);
    transition: top 0.2s ease, color 0.2s ease;
}

label span {
    transition: top 0.2s ease;
    position: absolute;
    z-index: 222;
    top: 12px;
    background-color: white;
    padding: 5px;
    left: 8px;
    color: rgb(119, 119, 119);
    font-size: 1rem;
}

label {
    position: relative;
    margin: 10px 0px;
}
