.input-section form {
    display: flex;
    justify-content: center;
    width: 70vw;
    margin: 0 auto;
}

.input-section form #animal-search {
    border-radius: 8px 0px 0px 8px;
    display: flex;
}
.input-section form #aconteceu-search {
    display: flex;
}

.input-section form select,
.input-section form input[type="text"] {
    border: #cbcbcb solid 1px;
    color: var(--text-gray-color);
    height: 91px;
    width: 100%;
    padding-left: 25px;
    font-size: var(--font-size-medium);
    background-color: white;
    flex: 2;
}
.input-section form:nth-child(2) {
    border: 0px 1px 0px 1px solid #797979;
}

.input-section form select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("../../assets/svg/arrow-down.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 15px) calc(1.5em + 2px),
        calc(100% - 15px) calc(1em + 2px), 100% 0;
}

.input-section form button {
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    padding: 20px;
    flex: 1;
    width: 100%;
    border-radius: 0px 8px 8px 0px;
    border: none;
}
.input-section form button object {
    width: 40px;
}

.input-section form button p {
    font-size: var(--font-size-medium);
    font-weight: 700;
    color: white;
    margin-left: 10px;
}
